.DS_STORE
frontend_vue/
faux_web/

frontend/node_modules/
frontend/build/

# Ignore Docker build artifacts
**/Dockerfile.*
**/*.dockerignore

# Backend Things
backend/venv/
backend/logs/
backend/__pycache__/
backend/secrets/
backend/app.yaml

__pycache__/
app.yaml

#Frontend Things
frontend/app.yaml
frontend/package-lock.json
frontend/.env

manual_copy_secrets/